body {
    font-family: mulish, sans-serif
}

#toggle-social {
    display: none
}

.max-h-432px {
    max-height: 432px
}

.max-w-1050px {
    max-width: 1050px
}

.outline-none {
    outline: none!important
}

.shadow-white-md {
    box-shadow: 0 0 9px 3px rgba(255, 255, 255, .25)
}

.border-t-3 {
    border-top: 3px solid #000
}

.border-bl {
    border-bottom-left-radius: 16px
}

.ltr-mode .border-l-6 {
    border-left: 6px solid #f44336
}

.rtl-mode .border-l-6 {
    border-right: 6px solid #f44336
}

.border-4 {
    border: 4px solid #ffff
}

.rounded-10px {
    border-radius: 10px
}

.rounded-bottom-0 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.tracking-12 {
    letter-spacing: .08em
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.border-red {
    border-color: #f44336
}

.border-table {
    border-color: #dadada
}

.bg-red {
    background-color: #f44336;
    -webkit-appearance: initial
}

.bg-green {
    background-color: #7ac755;
    -webkit-appearance: initial
}

.bg-blue {
    background-color: #001aff;
    -webkit-appearance: initial
}

.bg-clip {
    background-size: auto;
    background-size: cover;
    background-position: top;
    background-size: cover
}

.bg-glass {
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, .4);
    border: 2px solid rgba(255, 255, 255, .12);
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 10px
}

.bg-light-gray {
    background: #f1f5f8
}

.bg-dark-footer {
    background: #0a223d
}

.text-paragraph {
    color: #878787
}

.text-paragraph2 {
    color: #b9b9b9
}

.text-black {
    color: #000
}

.text-gray {
    color: #333333;
}

.text-red {
    color: red
}

.hover\:text-black:hover {
    color: #000!important;
    font-weight: 600
}

.text-10px {
    font-size: 10px!important
}

.text-12px {
    font-size: 12px!important
}

.text-14px {
    font-size: 14px
}

.text-18px {
    font-size: 18px;
}

.text-48px {
    font-size: 48px
}

h5, .h5 {
    font-size: 18px!important
}

@media(max-width:991px) {
    h1, .h1 {
        font-size: 36px
    }
    h2, .h2 {
        font-size: 28px
    }
    h3, .h3 {
        font-size: 22px
    }
    h4, .h4 {
        font-size: 19px
    }
    h5, .h5 {
        font-size: 17px
    }
    h6, p {
        font-size: 16px
    }
    .text-12px {
        font-size: 11px!important
    }
    .text-14px {
        font-size: 13px
    }
    .text-18px {
        font-size: 17px;
    }
    .text-48px {
        font-size: 44px
    }
}

@media(max-width:767px) {
    h1, .h1 {
        font-size: 32px
    }
    h2, .h2 {
        font-size: 26px
    }
    h3, .h3 {
        font-size: 20px
    }
    h4, .h4 {
        font-size: 18px
    }
    h5, .h5 {
        font-size: 16px
    }
    h6, p {
        font-size: 15px
    }
    .text-12px {
        font-size: 10px!important
    }
    .text-14px {
        font-size: 12px
    }
    .text-18px {
        font-size: 16px;
    }
    .text-48px {
        font-size: 40px
    }
}

@media(max-width:575px) {
    h1, .h1 {
        font-size: 26px
    }
    h2, .h2 {
        font-size: 22px
    }
    h3, .h3 {
        font-size: 18px
    }
    h4, .h4 {
        font-size: 17px
    }
    h5, .h5 {
        font-size: 15px
    }
    h6, p, .p, .h6 {
        font-size: 13px!important
    }
    .text-12px {
        font-size: 9px!important
    }
    .text-14px {
        font-size: 10px
    }
    .text-18px {
        font-size: 14px;
    }
    .text-48px {
        font-size: 36px
    }
    .fixed-navbar .text-13px a {
        font-size: 12px!important
    }
}

.font-weight-semibold {
    font-weight: 600!important
}

.font-weight-bolder {
    font-weight: 800!important
}

.font-weight-black {
    font-weight: 900!important
}

@media(min-width:1360px) {
    .container {
        max-width: 1312px
    }
}

@media(min-width:1440px) {
    .container {
        max-width: 1412px
    }
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000000
}

.notification {
    position: relative;
    display: inline-block
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center
}

@media(max-width:575px) {
    .notification .badge {
        top: -6px;
        right: -6px;
        width: 18px;
        height: 18px
    }
    .nav-category {
        font-size: 12px!important
    }
}

.collapse-nav {
    width: 272px;
    padding-bottom: 20vh!important;
    z-index: 100000;
    position: absolute
}

.ltr-mode .collapse-nav {
    border-bottom-right-radius: 10px
}

.rtl-mode .collapse-nav {
    border-bottom-left-radius: 10px
}

header .nav .nav-item .nav-link {
    margin-bottom: 0!important;
    padding: 0!important;
    font-size: 18px
}

@media(max-width:991px) {
    header .nav .nav-item .nav-link {
        font-size: 16px
    }
}

@media(max-width:767px) {
    header .nav .nav-item .nav-link {
        font-size: 12px
    }
}

@media(max-width:575px) {
    header .nav .nav-item .nav-link {
        font-size: 7px
    }
}

.nav-icon svg {
    width: 24px
}

@media(max-width:991px) {
    .nav-icon {
        display: none
    }
}

.brand-logo img {
    max-width: 196px
}

@media(max-width:575px) {
    .brand-logo img {
        max-width: 104px
    }
}

.hero-card {
    border-radius: 10px;
    overflow: hidden
}

.hero-img-feat {
    height: 460px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

@media(min-width:1440px) {
    .hero-img-feat {
        height: 440px
    }
}

@media(max-width:575px) {
    .hero-img-feat {
        height: 375px
    }
}

.card-img-text {
    top: auto;
    bottom: 0;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    max-width: 88%
}

@media(max-width:575px) {
    .card-img-text {
        max-width: 95%
    }
}

.card-image-feat {
    height: 260px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.footer-logo {
    height: 60px
}

@media(max-width:575px) {
    .footer-logo {
        height: 60px
    }
}

.client-list {
    max-width: 555px!important;
    top: -28px;
    right: 0;
    left: 0
}

.ltr-mode .social-icon {
    right: 0
}

.rtl-mode .social-icon {
    left: 0
}

.social-icon {
    top: 0;
    bottom: 0;
    z-index: 10001
}

@media(min-width:576px) {
    .rtl-mode .social-icon .social-desk {
        background-color: #ffff;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px
    }
    .ltr-mode .social-icon .social-desk {
        background-color: #ffff;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        max-width: 48px
    }
}

@media(max-width:575px) {
    .rtl-mode .social-icon {
        left: 6px
    }
    .ltr-mode .social-icon {
        right: 6px
    }
    .social-icon {
        top: auto;
        bottom: 16px
    }
    .social-icon .mobile-social .nav-item i {
        margin-bottom: 8px;
        background-color: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        filter: drop-shadow(-2px 4px 7px rgba(0, 0, 0, 0.25))
    }
    #toggle-social {
        display: block
    }
    .social-icon .mobile-social .nav-item i.fa-whatsapp {
        background-color: #0cd714;
        color: #ffff
    }
    .social-icon .mobile-social .nav-item i.fa-comments {
        background-color: #ffff;
        color: #f44336
    }
    .social-icon .mobile-social .nav-item i.fa-times {
        background-color: #f44336;
        color: #ffff
    }
    .social-icon .mobile-social .nav-item i.fa-chevron-up {
        background-color: #f44336;
        color: #ffff
    }
    .social-icon .mobile-social .nav-item i.fa-close {
        background-color: #f44336;
        color: #ffff
    }
    .social-icon .mobile-social .nav-item .nav-link i {
        margin-bottom: 0;
        font-size: 24px
    }
}

.owl-nav {
    font-size: 60px;
    color: #f44336;
    margin-top: 0
}

.owl-nav .owl-prev, .owl-nav .owl-next {
    outline: none
}

.rtl-mode .owl-nav .owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 1000000
}

.ltr-mode .owl-nav .owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 1000000
}

.rtl-mode .owl-nav .owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 1000000
}

.ltr-mode .owl-nav .owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 1000000
}

@media(min-width:568px) {
    .ltr-mode .owl-nav .owl-prev {
        transform: translateX(-150px);
        opacity: 0;
        transition: .2s
    }
    .rtl-mode .owl-nav .owl-prev {
        transform: translateX(150px);
        opacity: 0;
        transition: .2s
    }
    .ltr-mode .owl-nav .owl-next {
        transform: translateX(150px);
        opacity: 0;
        transition: .2s
    }
    .rtl-mode .owl-nav .owl-next {
        transform: translateX(-150px);
        opacity: 0;
        transition: .2s
    }
    .hover-nav:hover>.owl-nav .owl-next, .hover-nav:hover>.owl-nav .owl-prev {
        transform: translateX(0px);
        opacity: 1
    }
}

.tag {
    background: #e7e7e7;
    border-radius: 0 0 16px 0;
    color: #000;
    font-weight: 600;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, .25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #e7e7e7;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0
}

.tag:hover, .tag.active {
    background-color: #f44336;
    color: #fff
}

.tag:hover::after, .tag.active::after {
    border-left-color: #f44336
}

.commission {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, .25)
}

.ltr-mode .commission {
    top: -15px;
    left: -15px
}

.rtl-mode .commission {
    top: -15px;
    right: -15px
}

.border-table {
    border-top: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4
}

.table-box-border {
    border-bottom: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4
}

.hasurl-img-feat {
    width: 100%;
    height: 570px;
    -o-object-fit: cover;
    object-fit: cover
}

@media(max-width:991px) {
    .hasurl-img-feat {
        height: 470px
    }
}

@media(max-width:767px) {
    .hasurl-img-feat {
        height: 370px
    }
}

@media(max-width:575px) {
    .hasurl-img-feat {
        height: 240px
    }
}

.hasurl-img-feat2 {
    width: 100%;
    height: 96px;
    -o-object-fit: cover;
    object-fit: cover
}

@media(max-width:991px) {
    .hasurl-img-feat2 {
        height: 80px
    }
}

@media(max-width:767px) {
    .hasurl-img-feat2 {
        height: 70px
    }
}

@media(max-width:575px) {
    .hasurl-img-feat2 {
        height: 60px
    }
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto
}

@media(max-width:768px) {
    .modal-dialog {
        min-height: calc(100vh - 20px)
    }
}

.btn-facebook {
    color: #fff;
    background-color: #385997;
    border-color: #2c4575;
    padding: .075rem .75rem!important
}

.btn-facebook:hover {
    color: #fff;
    background-color: #4971bd;
    border-color: #385997
}

.btn-instagram {
    color: #fff;
    background-color: #864481;
    padding: .075rem .75rem!important
}

.btn-instagram:hover {
    color: #fff;
    background-color: #ce6ac5;
    border-color: #683463
}

.btn-whatsapp {
    color: #fff;
    background-color: #48c857;
    border-color: #3da74a;
    padding: .075rem .75rem!important
}

.btn-whatsapp:hover {
    color: #fff;
    background-color: #76ce80;
    border-color: #48c857
}

@media(max-width:987px) {
    .nav-scroll-mobile-div {
        overflow-y: hidden
    }
    .nav-scroll-mobile-ul {
        display: inline-flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: 0;
        min-width: 100%;
        white-space: nowrap;
        max-height: 38px;
        overflow-y: hidden;
        position: relative
    }
    .nav-scroll-mobile-span {
        margin-bottom: 1.5rem!important;
        margin-left: 1rem!important
    }
    .text-text-phone {
        font-size: 12px!important
    }
    .border-top {
        border-top: 1px solid #e5e5e5
    }
}

@media(max-width:350px) {
    .font-size-select-mobile {
        font-size: 7px
    }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff!important;
    background-color: #b50707!important
}

.old-price {
    text-decoration: line-through;
    color: red;
    font-size: 12px
}

.jumbotron-white {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: .3rem
}

.fixed_height_small_description {
    overflow-y: auto;
    height: 106px;
    scrollbar-width: 0;
    scrollbar-width: none
}

.nav-category {
    color: #495057!important;
    font-weight: 700!important
}

h5 a, h5 a:hover, h5 a:visited {
    color: #000
}

h4 a, h4 a:hover, h4 a:visited {
    color: #000
}

.modal {
    z-index: 1000000!important
}

.daterangepicker {
    z-index: 3001002!important
}

@media(min-width:987px) {
    .img-footer {
        height: 30px
    }
}

@media(max-width:987px) {
    .img-footer-mobile {
        height: 30px!important
    }
}

.w-30 {
    width: 30%!important
}

.h-6 {
    height: 6%!important
}

.btn-fixed-buttom {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: .25rem;
    border-top-right-radius: .25rem
}

@media(max-width:768px) {
    .margin-btn-fixed {
        margin: 0;
        width: 100%!important
    }
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute
}

.condition-generale p {
    margin-bottom: .3rem
}

/* ============= Date Ranger ============= */

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #F44336;
    border-color: transparent;
    color: #fff;
}

/* **************** Dropdown ************** */

.dropdown-menu {
    z-index: 21474836!important
}

.dropdown a::after {
    display: none !important;
}

/* Custom Select Ceart Icon */

.custom-select-icon {
    background-color: white;
    /* inline SVG */
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.916 6.508L.242 2.073a.752.752 0 010-1.106L1.02.23a.853.853 0 011.165 0l3.313 3.144L8.809.23a.853.853 0 011.165 0l.784.734a.752.752 0 010 1.105L6.084 6.505a.854.854 0 01-1.168.003zm1.168 6.263l4.674-4.436a.752.752 0 000-1.106l-.777-.737a.853.853 0 00-1.165 0L5.5 9.632 2.187 6.49a.853.853 0 00-1.165 0l-.78.737a.752.752 0 000 1.106l4.674 4.435c.323.31.845.31 1.168.004z' fill='%23F44336'/%3E%3C/svg%3E");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    color: #333333;
    /* padding: 10px 30px 10px 10px; */
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

/* Image Feat */

.feat-item-img {
    width: 130px;
    height: 70px;
    object-fit: cover;
    object-position: center;
}