body {
    font-family: 'Mulish', sans-serif;
}

/* ****** Custom Utility ******* */

.outline-none {
    outline: none !important;
}

/* ========= Shadow ====== */

.shadow-white-md {
    box-shadow: 0px 0px 9px 3px rgba(255, 255, 255, 0.25);
}

/* ======== Border ======== */

.border-t-3 {
    border-top: 3px solid #000;
}

.border-bl {
    border-bottom-left-radius: 16px;
}

.border-l-6 {
    border-left: 6px solid #F44336;
}

.border-4 {
    border: 4px solid #ffff;
}

/* ========= Border Radius ========= */

.rounded-10px {
    border-radius: 10px;
}

/* ==== letter Spacing ==== */

.tracking-12 {
    letter-spacing: 0.08em;
}

/* ********** color ********** */

/* ========== Border Color ========= */

.border-red {
    border-color: #F44336;
}

/* ====== Backround Color =========== */

.bg-red {
    background-color: #F44336;
}

.bg-clip {
    background: url('../images/bg.jpg');
    background-size: cover;
    background-position: top;
}

.bg-glass {
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.40);
    border: 2px solid rgba(255, 255, 255, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 10px;
}

.bg-light-gray {
    background: #F1F5F8;
}

.bg-dark-footer {
    background: #0A223D;
}

/* ======== Text Color ===========*/

.text-paragraph {
    color: #878787;
}

.text-paragraph2 {
    color: #B9B9B9;
}

.text-black {
    color: #000;
}

.text-red {
    color: #FF0000;
}

.hover\:text-black:hover {
    color: #000 !important;
    font-weight: 600;
}

/* ************ Font ************ */

/* ========== Responsive Font size ============ */

.text-10px {
    font-size: 10px !important;
}

.text-12px {
    font-size: 12px !important;
}

.text-14px {
    font-size: 14px;
}

@media(max-width: 991px) {
    h1, .h1 {
        font-size: 36px;
    }
    h2, .h2 {
        font-size: 28px;
    }
    h3, .h3 {
        font-size: 22px;
    }
    h4, .h4 {
        font-size: 19px;
    }
    h5, .h5 {
        font-size: 17px;
    }
    h6, p {
        font-size: 16px;
    }
    .text-12px {
        font-size: 11px !important;
    }
    .text-14px {
        font-size: 13px;
    }
}

@media(max-width: 767px) {
    h1, .h1 {
        font-size: 32px;
    }
    h2, .h2 {
        font-size: 26px;
    }
    h3, .h3 {
        font-size: 20px;
    }
    h4, .h4 {
        font-size: 18px;
    }
    h5, .h5 {
        font-size: 16px;
    }
    h6, p {
        font-size: 15px;
    }
    .text-12px {
        font-size: 10px !important;
    }
    .text-14px {
        font-size: 12px;
    }
}

@media(max-width: 575px) {
    h1, .h1 {
        font-size: 26px;
    }
    h2, .h2 {
        font-size: 22px;
    }
    h3, .h3 {
        font-size: 18px;
    }
    h4, .h4 {
        font-size: 17px;
    }
    h5, .h5 {
        font-size: 15px;
    }
    h6, p, .p, .h6 {
        font-size: 13px !important;
    }
    .text-12px {
        font-size: 9px !important;
    }
    .text-14px {
        font-size: 10px;
    }
}

/* ========= Font-weight =========== */

.font-weight-semibold {
    font-weight: 600 !important;
}

.font-weight-bolder {
    font-weight: 800 !important;
}

.font-weight-black {
    font-weight: 900 !important;
}

/* ********* Custom Css ******** */

/* ======== Bootstrap Container Customization ============ */

@media (min-width:1360px) {
    .container {
        max-width: 1312px;
    }
}

@media (min-width:1440px) {
    .container {
        max-width: 1412px;
    }
}

/* ******** Nav Bar Section ******** */

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000000;
}

/* ===== Badge =========*/

.notification {
    position: relative;
    display: inline-block;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:575px) {
    .notification .badge {
        top: -6px;
        right: -6px;
        width: 18px;
        height: 18px;
    }
}

/* === Collapse Nav Menu === */

.collapse-nav {
    width: max-content;
    padding-bottom: 20vh !important;
    z-index: 1000;
    position: absolute;
}

.ltr-mode .collapse-nav {
    border-bottom-right-radius: 10px;
}

.rtl-mode .collapse-nav {
    border-bottom-left-radius: 10px;
}

/* Header Nav Menu */

header .nav .nav-item .nav-link {
    margin-bottom: 0px !important;
    padding: 0px !important;
    font-size: 18px;
}

@media(max-width: 991px) {
    header .nav .nav-item .nav-link {
        font-size: 16px;
    }
}

@media(max-width: 767px) {
    header .nav .nav-item .nav-link {
        font-size: 12px;
    }
}

@media(max-width: 575px) {
    header .nav .nav-item .nav-link {
        font-size: 7px;
    }
}

/* ==== Nav Icons ======= */

.nav-icon svg {
    width: 24px;
}

@media(max-width: 991px) {
    .nav-icon {
        display: none;
    }
}

/* ====== Brand Logo ======*/

.brand-logo img {
    max-width: 196px;
}

@media (max-width: 575px) {
    .brand-logo img {
        max-width: 104px;
    }
}

/* =========== Hero Section =========== */

.hero-card {
    border-radius: 10px;
    overflow: hidden;
}

.hero-img-feat {
    height: 460px;
    width: 100%;
    object-fit: cover;
}

@media(min-width:1440px) {
    .hero-img-feat {
        height: 440px;
    }
}

@media(max-width:575px) {
    .hero-img-feat {
        height: 375px;
    }
}

.card-img-text {
    top: auto;
    bottom: 0;
    height: max-content;
    max-width: 88%;
}

@media(max-width:575px) {
    .card-img-text {
        max-width: 95%;
    }
}

/* ============ Card Image ============== */

.card-image-feat {
    height: 260px;
    width: 100%;
    object-fit: cover;
}

/* ========= Footer Section ========= */

/* Footer Logo */

.footer-logo {
    max-width: 196px;
}

@media (max-width: 575px) {
    .footer-logo {
        max-width: 130px;
    }
}

/* Client Icon  */

.client-list {
    max-width: 555px !important;
    top: -28px;
    right: 0;
    left: 0;
}

/******** Social Icon **********/

.ltr-mode .social-icon {
    right: 0;
}

.rtl-mode .social-icon {
    left: 0;
}

.social-icon {
    top: 0;
    bottom: 0;
    z-index: 10001;
}

@media (min-width:576px) {
    .rtl-mode .social-icon .social-desk {
        background-color: #ffff;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .ltr-mode .social-icon .social-desk {
        background-color: #ffff;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

@media (max-width:575px) {
    .rtl-mode .social-icon {
        left: 6px;
    }
    .ltr-mode .social-icon {
        right: 6px;
    }
    .social-icon {
        top: auto;
        bottom: 16px;
    }
    .social-icon .mobile-social .nav-item i {
        margin-bottom: 8px;
        background-color: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        filter: drop-shadow(-2px 4px 7px rgba(0, 0, 0, 0.25));
    }
    .social-icon .mobile-social .nav-item i.fa-whatsapp {
        background-color: #0CD714;
        color: #ffff;
    }
    .social-icon .mobile-social .nav-item i.fa-comments {
        background-color: #F44336;
        color: #ffff;
    }
    .social-icon .mobile-social .nav-item .nav-link i {
        margin-bottom: 0;
        font-size: 24px;
    }
}

/* ============ Slider =========== */

.owl-nav {
    font-size: 60px;
    color: #000;
    margin-top: 0;
}

.owl-nav .owl-prev, .owl-nav .owl-next {
    outline: none;
}

.rtl-mode .owl-nav .owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 1000000;
}

.ltr-mode .owl-nav .owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 1000000;
}

.rtl-mode .owl-nav .owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0px;
    z-index: 1000000;
}

.ltr-mode .owl-nav .owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0px;
    z-index: 1000000;
}

@media (min-width: 568px) {
    /* .hover-nav {
        overflow: hidden;
        transition: .3s ease-in-out;
    }
    .hover-nav:hover {
        overflow: visible;
    } */
    .ltr-mode .owl-nav .owl-prev {
        transform: translateX(-150px);
        opacity: 0;
        transition: .2s;
    }
    .rtl-mode .owl-nav .owl-prev {
        transform: translateX(150px);
        opacity: 0;
        transition: .2s;
    }
    .ltr-mode .owl-nav .owl-next {
        transform: translateX(150px);
        opacity: 0;
        transition: .2s;
    }
    .rtl-mode .owl-nav .owl-next {
        transform: translateX(-150px);
        opacity: 0;
        transition: .2s;
    }
    .hover-nav:hover>.owl-nav .owl-next, .hover-nav:hover>.owl-nav .owl-prev {
        transform: translateX(0px);
        opacity: 1;
    }
}